{% load static %}
<link rel="stylesheet" href="{%  static 'style.css' %}">
<div class="main">

    <p> Make a Transaction:</p>
     {% for message in sql_res3 %}
             <h2>{{message}}</h2>
            {% endfor %}

    <form method="POST">
        {% csrf_token %}
        ID:  <input type="number"  name="ID" rows="1" cols="50" required><br>
        Transaction Sum: <input type="number" min="1" name="TQuantity" rows="1" cols="50" required><br>
        <input type="submit">
    </form>
    <h1>Last 10 Transactions:</h1>
</div>

<table class="main" border="1" width="40%">
    <th>Date</th>
    <th>Investor ID</th>
    <th>Transaction Sum</th>
        {% for row in sql_res4 %}
            <tr>
            <td>{{ row.tDate }} </td>
            <td>{{ row.ID }} </td>
            <td>{{ row.TQuantity }} </td>
            </tr>
        {% endfor %}
</table><br><br>


<!-- Side navigation -->
<div class="sidenav">
<a href="home">Home</a><br>
<a href="query_results">Query Results</a><br>
<a href="add_transaction">Add Transaction</a><br>
<a href="buy_stocks">Buy Stocks</a>
</div>
